h1
{
    color: blueviolet;
    background-color: brown;
}
h2{
    color: rgb(197, 128, 24);
    background-color: rgb(52, 185, 185);
}
h3{
    color: rgb(70, 126, 70);
    background-color: darksalmon;
}